<div class="theme-secondary theme-bg theme-color">
  <header class="l-container">
    <div class="l-jumbo">
      <h1>{{ introHeading }}</h1>
      {% include "memberMap.njk" %}
      {% include "introSummary.njk" %}
    </div>
  </header>
</div>
