<section class="resourceLink">

<div>
  <a href="http://nowherelab.com/resources/" class="l-pagination-link l-pagination--right">See our resources</a>
  <a href="http://nowherelab.com/resources/">
    <span aria-hidden="true" class="l-pagination-link l-pagination--right">
      {% include "partials/icons/arrow-right.svg" %}
    </span></a>
</div>

</section>
