<section class="resourceLink">

  <a href="http://nowherelab.com/resources/" class="l-pagination-link l-pagination--right">See our resources
    <span aria-hidden="true">
      {% include "partials/icons/arrow-right.svg" %}
    </span>
  </a>

</section>
